.header {
    position: fixed;
    justify-content: center;
    left: 0%;
    top:0%;
    width: 100%;
    background-color: goldenrod;
    color: royalblue;
    text-align: center;
}

.title {
    position: center;
    color: gold;
}

.body {
max-width: 900px;
margin: 20px auto;
padding-top: 50px;
padding-bottom: 40px;
}

.img {
    display: block;
    margin: 0% auto;
}

.main{
margin-right: 140 px;
font-size: 14px;
padding: 30px 10px 10px;
background-color: royalblue;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
}


