.header {
    position: fixed;
    justify-content: center;
    left: 0%;
    top:0%;
    width: 100%;
    background-color: goldenrod;
    color: royalblue;
    text-align: center;
}

.body {
max-width: 900px;
margin: 20px auto;
background-color: royalblue;
color: goldenrod;
padding-top: 50px;
padding-bottom: 40px;
}

.main{
margin-right: 140 px;
font-size: 14px;
padding: 30px 10px 10px
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
}

