.header {
    position: fixed;
    justify-content: center;
    left: 0%;
    top:0%;
    width: 100%;
    background-color: goldenrod;
    color: royalblue;
    text-align: center;
}

.title {
    position: center;
    color: gold;
}

body {
max-width: 900px;
margin: 20px auto;
padding-top: 50px;
padding-bottom: 40px;
}

body {
    background-image: url(ballroom.jpeg);
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    color: wheat;
}

.button {
    background-color: gold;
    border: darkblue;
    padding: 12 px 18px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: block;
    float: right;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    transition: width 5s;
}

.button:hover {
    width: 500px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 20, 0), 0 17px 50px 0 rgba(0, 0, 30, 0)
}

.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
    margin-top: 100px;
   border-radius: 50%;
}

.container {
    display: block;
    float: left;
}


.img {
    display: block;
    margin: 0% auto;
}

.main{
margin-right: 140 px;
font-size: 14px;
padding: 30px 10px 10px;
background-color: royalblue;
}

.center {
    display: block;
    position: left;
}


.footer {
    position: bottom;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    background-color: goldenrod;
    color: royalblue;
    text-align: center;
}


