.header {
    position: fixed;
    justify-content: center;
    left: 0%;
    top:0%;
    width: 100%;
    background-color: goldenrod;
    color: royalblue;
    text-align: center;
}

.title {
    position: center;
    color: gold;
}

body {
max-width: 900px;
margin: 20px auto;
padding-top: 50px;
padding-bottom: 40px;
}

.button {
    background-color: gold;
    border: darkblue;
    padding: 12 px 18px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: block;
    float: right;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    transition: width 5s;
}

.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    display: block;
    margin: 0% auto;
}

.main{
margin-right: 140 px;
font-size: 14px;
padding: 30px 10px 10px;
background-color: royalblue;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
}


