:root {
    --primary-color: rgb(58, 134, 184);
    --text-color: #042d2f;
    --text-color-lighter: #074c50;
    --secondary-color: #8400d1;
    --white: #FFFFFF;
    --off-white: #F1F2F4;
    --gray: #A1A1A1;
  }
  
  .body {
    font-family: 'Times New Roman';
    margin: 0;
    font-size: 1.5rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("UpPhotos/Sky.jpg");
    
  }
  
  .heading {
    font-size: 3rem;
     animation-duration: 3s;
    animation-name: slidein;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    transition: width 3s;
    font-size: 2rem;
    color: var(--off-white);
   
  }
  
  a:hover {
    text-decoration: underline;
    transition: width 300px;
    transition-timing-function: linear;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  .header {
    background-color: var(--primary-color);
    padding: 50px 0;
    border-bottom: var(--secondary-color) 50px solid;
  }
  
  
  .nav {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .link{
    margin-left: 24px;
  }
  
  .logo {
    margin-right: auto;
    text-transform: uppercase;
  }
  
  .main {
    margin-bottom: 96px;
    box-shadow: 4px 4px 10px var(--gray);
    background-color: var(--white);
    padding: 48px 96px;
    line-height: 1.75;
    margin-bottom: 48px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    
  }
  
  .image {
    float: left;
    width: 300px;
    height: auto;
    margin-right: 24px;
    margin-bottom: 6px;
    transition: width 2s, height 2s, transform 
  }
  .image:hover {
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
  } 
  
  .footer {
    margin-top: auto;
    background-color: var(--gray);
    text-align: center;
    text-transform: uppercase;
    padding: 24px 0;
    color: var(--off-white);
  }

