* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-image: url(images/jayme-mccolgan-IP1rSwr8R6o-unsplash.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header, footer {
    width: 100%;
    margin: 0 auto;
    background-image: url(images/Header.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    border-bottom: 3px solid #55588f;
}
header {
    padding-top: 10px;
    padding-bottom: 10px;
}
#headerContent {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'title JP DN'
    'title JC CC';
    grid-template-columns: 1fr 5% 5%;
    grid-template-rows: 20px 20px;
}
#headerContent a {
    text-align: center;
    color: white;
    text-decoration: none;
}
h1 {
    grid-area: title;
}
.JP {
    grid-area: JP;
}
.J {
    grid-area: JC;
}
.D {
    grid-area: DN;
}
.C {
    grid-area: CC;
}
main {
    width: 800px;
    margin: 10px auto;
    padding: 12px;
    background-color: rgb(255, 255, 255)  ;
    border: 3px solid #55588f;
    text-align: center;
}
h2 {
    padding: 10px;
}
.movies {
    display: grid;
    grid-template-areas: 
    'movie1 movie2'
    'movie3 movie4';
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.movies img {
    max-height: fit-content;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

footer {
    text-align: center;
    margin-top: auto;
    border-top: 3px solid #55588f;
    padding: 20px;
}